!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ../partials/head %>
  </head>
  <body>
    <header>
      <%- include ../partials/nav %>
    </header>
    <div class="container">
      <h1> Update my <%=listName%> shopping list </h1>
      <div class="editcontainer">
      <form class="signup" action="/lists/<%=listName%>/<%=listID%>/items/edit" method="post">
           <label id ="itemname" for="itemname">Item Name:</label>
           <input id="inputitemname"type="text" name="itemname">
           <label id ="quantity" for="quantity">Quantity:</label>
           <input type="text" class="quantity" name="quantity">
           <label id ="broughtlabel" for="brought">Brought:</label>
           <select id="brought" name="brought" class="form-control">
              <option value=f>False</option>
              <option value=t>True</option>
          </select>
         <button class ="addicon" type="submit"><img class="addimg"src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/30/Ic_add_circle_outline_48px.svg/48px-Ic_add_circle_outline_48px.svg.png"></button>
      </form>
      <div class = "showitems" >
        <% if (data.length !==0 ) { %>
            <% data.forEach(function(items){ %>
              <div>
              <% for( var i=0; i < items.items_name.length; i++) { %>
                <form  class ="formedit"action="/lists/<%=listName%>/<%=listID%>/items/edit?_method=PUT" method="post">
                  <label id ="itemname" for="itemname">Item Name:</label>
                  <input type="hidden" name="id" value="<%=items.item_id%>">
                  <input id="inputitemname" name="itemname" value="<%=items.items_name[i]%>">
                  <label id ="quantity" for="quantity">Quantity:</label>
                  <input type="text" class="quantity" name="quantity" value="<%=items.items_quantity[i]%>">
                  <label id ="broughtlabel" for="brought">Brought:</label>
                  <select id="brought1" name="brought" class="form-control">
                    <% if (items.brought[i]=== false){ %>
                         <option selected="selected" value=f>False</option>
                          <option value=t>True</option>
                    <% } else { %>
                         <option selected="selected" value=t>True</option>
                          <option  value=f>False</option>
                   <%  }%>
                 </select>
                   <button class ="updateicon" type="submit"><img src="/css/images/update.svg"></button>
                </form>
                <form  action="/lists/<%=listName%>/<%=listID%>/items/edit?_method=DELETE" method="post">
                  <input type="hidden" name="id" value="<%=items.item_id%>">
                     <button class ="deleteicon" type="submit"><img id="minus" src="/css/images/minus.svg"></button>
                </form>
              <%  }  %>
            </div>
            <% }) %>
       <% } %>
      </div>
      <div>
    </div>
    <%- include ../partials/footer %>
  </body>
</html>
